<template>
  <div>
    <loading-state v-if="$store.state.isLoading" />

    <div
      v-else
      :style="{ backgroundColor: '#1E2022'}"
    >
      <v-card
        v-if="$store.state.articles.length > 0"
        max-width="800"
        class="mx-auto pt-5 pb-5"
        :style="{ backgroundColor: '#1E2022'}"
      >
        <v-row dense>
          <v-col
            v-for="(article, i) in $store.state.articles"
            :key="i"
            cols="12"
          >
            <article-card
              :index="i"
              :article="article"
            />
          </v-col>
        </v-row>

        <div class="d-flex justify-center">
          <v-btn
            class=" d-flex justify-center ml-2 mt-5"
            outlined
            color="#D07017"
            :loading="$store.state.isButtonLoading"
            @click="loadMore"
          >
            Carregar mais
          </v-btn>
        </div>
      </v-card>

      <empty-list
        v-else
      />
    </div>
  </div>
</template>

<script>
import ArticleCard from '@/components/ArticleCard.vue'
import EmptyList from '@/components/EmptyList.vue'
import LoadingState from '@/components/LoadingState.vue'

export default {
  name: 'ArticlesList',
  components: {
    ArticleCard,
    EmptyList,
    LoadingState,
  },
  created () {
    this.$store.state.isLoading = true
    this.$store.dispatch('fetchData')
  },
  methods: {
    loadMore () {
      this.$store.state.isButtonLoading = true
      this.$store.dispatch('loadMore')
    }
  }
};
</script>

<style>
</style>
