<template>
  <div class="col-full">
    <h1>Página não encontrada</h1>
    <p>
      Ooops, não encontramos o que você está procurando...
      Você pode ir para a página principal:
      <router-link
        :to="{name: 'ArticlesList'}"
      >
        Página Principal
      </router-link>
    </p>
  </div>
</template>

<script>
export default {
  name: 'PageNotFound',
}
</script>

<style scoped>
div {
    text-align: center;
}
h1 {
    font-size: 50px;
}
p {
    font-size: 30px;
    font-weight: 100;
}
</style>
