<template>
  <v-card :style="{ backgroundColor: '#D07017' }">
    <div class="d-flex flex-no-wrap justify-space-between">
      <v-avatar
        class="ma-3"
        size="200"
        tile
      >
        <v-img :src="article.imageUrl" />
      </v-avatar>

      <div>
        <v-card-title
          class="change-font text-white"
          v-text="article.title"
        />

        <v-card-subtitle
          class="text-white"
          v-text="formatDate(article.publishedAt)"
        />

        <v-card-text class="text-white">
          {{ article.summary }}
        </v-card-text>

        <v-card-actions>
          <v-btn
            color="#302E53"
            class="ml-2 mt-5 white--text"
            :href="article.url"
            target="_blank"
          >
            Ir para o site
          </v-btn>
        </v-card-actions>
      </div>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'ArticleModal',
  props: {
    article: {
      type: Object,
      required: true
    },
  },
  methods: {
    formatDate (date) {
      const formatedDate = date.match(/([^T]+)/)[0].split('-').reverse().join('/')
      return formatedDate
    },
  },
}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

.text-white {
  color: #ffff;
}

.change-font {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  color: #ffff;
}
</style>
