<template>
  <v-card :style="{ backgroundColor: '#3A3B3C' }">
    <div class="d-flex flex-no-wrap justify-space-between">
      <v-avatar
        v-if="index % 2 === 0"
        class="ma-3"
        size="200"
        tile
      >
        <v-img :src="article.imageUrl" />
      </v-avatar>

      <div>
        <v-card-title
          class="text-white change-font"
          v-text="article.title"
        />

        <div
          class="d-flex mb-0 mt-0"
        >
          <v-card-subtitle
            class="text-white"
            v-text="formatDate(article.publishedAt)"
          />

          <v-chip
            color="#D07017"
            text-color="white"
            class="ma-4 ml-auto"
          >
            {{ article.newsSite }}
          </v-chip>
        </div>

        <v-card-text class="text-white">
          {{ article.summary }}
        </v-card-text>

        <v-card-actions>
          <v-dialog
            transition="dialog-bottom-transition"
            max-width="600"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="#302E53"
                class="white--text"
                v-bind="attrs"
                v-on="on"
              >
                Ver Mais
              </v-btn>
            </template>
            <template>
              <article-modal :article="article" />
            </template>
          </v-dialog>
        </v-card-actions>
      </div>

      <v-avatar
        v-if="index % 2 === 1"
        class="ma-3"
        size="200"
        tile
      >
        <v-img :src="article.imageUrl" />
      </v-avatar>
    </div>
  </v-card>
</template>

<script>
import ArticleModal from './ArticleModal.vue'

export default {
  name: 'ArticleCard',
  components: {
    ArticleModal,
  },
  props: {
    index: {
      type: Number,
      required: true
    },
    article: {
      type: Object,
      required: true
    },
  },
  methods: {
    formatDate (date) {
      const formatedDate = date.match(/([^T]+)/)[0].split('-').reverse().join('/')
      return formatedDate
    },
  },
}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

.change-font {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}
</style>
