<template>
  <v-card
    max-width="800"
    class="mx-auto pt-5 pb-5"
    :style="{ backgroundColor: '#1E2022' }"
  >
    <v-row dense>
      <v-col
        cols="12"
      >
        <v-card :style="{ backgroundColor: '#3A3B3C' }">
          <v-card-title
            class="text-white change-font"
          >
            Não há Artigos Correspondentes
          </v-card-title>

          <v-card-text :style="{ color: '#ffff' }">
            Não há artigos Correspondentes à sua procura, ou o servidor pode estar indisponível.
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <div class="d-flex justify-center">
      <v-btn
        class=" d-flex justify-center ml-2 mt-5"
        outlined
        color="#D07017"
        @click="reloadArticles"
      >
        Recarregar Artigos
      </v-btn>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'EmptyList',
  methods: {
    reloadArticles () {
      this.$store.state.isLoading = true
      this.$store.dispatch('fetchData')
    }
  }
}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

.change-font {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}
</style>
