<template>
  <header class="header">
    <div class="d-flex justify-end pa-2">
      <v-spacer />
      <v-text-field
        v-model="search"
        dark
        dense
        filled
        clearable
        placeholder="Procurar"
        append-icon="mdi-magnify"
        :style="{ maxWidth: '200px' }"
        @click:append="searchArticle"
      />

      <v-btn
        class="pl-2"
        color="white"
        icon
        @click="cleanFilter"
      >
        <v-icon>
          mdi-broom
        </v-icon>
      </v-btn>

      <v-menu
        bottom
        left
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="white"
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>
              mdi-dots-vertical
            </v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item @click="orderAscending">
            <v-list-item-title>Mais antigas</v-list-item-title>
          </v-list-item>

          <v-list-item @click="orderDescending">
            <v-list-item-title>Mais novas</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>

    <div class="d-flex justify-center align-center pb-3 pt-3">
      <v-icon
        dark
        x-large
      >
        mdi-rocket-outline
      </v-icon>
    </div>

    <div class="d-flex justify-center align-center pb-10">
      <v-toolbar-title class="text-white change-font">
        Space Fligths News
      </v-toolbar-title>
    </div>
  </header>
</template>

<script>
export default {
  name: 'HeaderBar',
  data () {
    return {
      search: '',
    }
  },
  methods: {
    orderDescending () {
      this.$store.state.isLoading = true
      this.$store.commit('ORDER_ARTICLES', true)
    },
    orderAscending () {
      this.$store.state.isLoading = true
      this.$store.commit('ORDER_ARTICLES', false)
    },
    searchArticle () {
      if (this.search !== '') {
        this.$store.state.isLoading = true
        const payload = this.search.split(' ')
        this.$store.dispatch('filterArticles', payload)
        this.search = ''
      }
    },
    cleanFilter () {
      this.$store.state.isLoading = true
      this.$store.dispatch('fetchData')
    }
  },
}
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

.header {
  background-color: #302E53;
}

.change-font {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 40px;
}
</style>
