<template>
  <v-container
    :style="{height: '80vh', backgroundColor: '#1E2022'}"
  >
    <v-row
      class="fill-height"
      align-content="center"
      justify="center"
    >
      <v-col
        class="subtitle-1 text-center"
        cols="12"
      >
        Carregando...
      </v-col>
      <v-col cols="6">
        <v-progress-linear
          color="#D07017"
          indeterminate
          rounded
          height="6"
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'LoadingState',
}
</script>

<style>
</style>
