<template>
  <v-app
    id="inspire"
    class="all-app"
    :style="{ backgroundColor: '#1E2022', color: '#ffff' }"
  >
    <header-bar />

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import HeaderBar from './components/HeaderBar.vue'

export default {
  name: 'App',
  components: {
    HeaderBar,
  },
  data: () => ({
    //
  }),
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

.all-app {
  font-family: "Roboto Condensed", sans-serif;
}
</style>
